<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\Design\Backend\Logo">
        <plugin name="allow-web-images" type="Diepxuan\Images\Plugin\Theme\Model\Design\Backend\Logo" />
    </type>
    <!-- Magento/Cms/etc/di.xml -->
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="svg" xsi:type="string">image/svg+xml</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="svg" xsi:type="string">image/svg+xml</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Magento/MediaGalleryIntegration/etc/di.xml -->
    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="svg" xsi:type="string">svg</item>
                <item name="webp" xsi:type="string">webp</item>
            </argument>
        </arguments>
    </type>
</config>
