<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\File\Uploader">
        <plugin name="Diepxuan_Images::allowWebImagesFromFileUploader" type="Diepxuan\Images\Plugin\Framework\File\Uploader"/>
    </type>
    <type name="Magento\MediaStorage\Model\File\Uploader">
        <plugin name="allow-web-images" type="Diepxuan\Images\Plugin\MediaStorage\Model\File\Uploader" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Images\Thumbnail">
        <plugin name="Diepxuan_Images::allowWebImagesFromCmsWysiwygImagesThumbnail" type="Diepxuan\Images\Plugin\Controller\Adminhtml\Wysiwyg\Images\Thumbnail" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive">
        <plugin name="Diepxuan_Images::allowWebImagesFromCmsWysiwygDirective" type="Diepxuan\Images\Plugin\Controller\Adminhtml\Wysiwyg\Directive" />
    </type>
</config>
