<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\File\Uploader">
        <plugin name="Diepxuan_Images::allowWebImagesFromFileUploader" type="Diepxuan\Images\Plugin\Framework\File\Uploader"/>
    </type>
    <type name="Magento\Theme\Model\Design\Backend\Logo">
        <plugin name="Diepxuan_Images::allowWebImages" type="Diepxuan\Images\Plugin\Theme\Model\Design\Backend\Logo" />
    </type>
    <type name="Magento\Theme\Model\Design\Backend\Image">
        <plugin name="Diepxuan_Images::allowWebImages" type="Diepxuan\Images\Plugin\Theme\Model\Design\Backend\Image" />
    </type>
    <type name="Magento\Theme\Model\Design\Backend\Favicon">
        <plugin name="Diepxuan_Images::allowWebImages" type="Diepxuan\Images\Plugin\Theme\Model\Design\Backend\Favicon" />
    </type>
    <type name="Magento\MediaStorage\Model\File\Uploader">
        <plugin name="Diepxuan_Images::allowWebImagesFromFileUploader" type="Diepxuan\Images\Plugin\MediaStorage\Model\File\Uploader" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Images\Thumbnail">
        <plugin name="Diepxuan_Images::allowWebImagesFromCmsWysiwygImagesThumbnail" type="Diepxuan\Images\Plugin\Controller\Adminhtml\Wysiwyg\Images\Thumbnail" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive">
        <plugin name="Diepxuan_Images::allowWebImagesFromCmsWysiwygDirective" type="Diepxuan\Images\Plugin\Controller\Adminhtml\Wysiwyg\Directive" />
    </type>
    <preference for="Magento\Backend\Block\Media\Uploader" type="Diepxuan\Images\Backend\Block\Media\Uploader" />
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content" type="Diepxuan\Images\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content" />
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Image" type="Diepxuan\Images\Catalog\Model\ResourceModel\Product\Attribute\Backend\Image" />
    <preference for="Magento\Config\Model\Config\Backend\Image" type="Diepxuan\Images\Config\Model\Config\Backend\Image" />
</config>
